.action-buttons {
  padding-top: 15%;
  text-align: center;
}

.btn-primary {
  margin-left: 3px;
  margin-right: 3px;
}

.return-home {
  text-align: center;
  margin-top: 8px;
}

.card {
text-align: center;
padding-top: 10%;
}


#get-started {
  text-align: center;
  height: 120px;
  width: 120px;
}
